
<div class="row justify-content-center">
  <div class="col-sm-6">


      <div class="projectBlock">
      <div class="card ">

          <a id = "slug-home" href={{slug}}>
          <img src={{imageUrl}} class="card-img-top"  alt={{imageTitle}}/>

          <div class="card-body">


          <h5 class="card-title">{{ title }}</h5>


          </div>
            </a>
      </div>
    </div>
  </div>
</div>
