<div class="row justify-content-center">
  <div class="col-10">

    <div class="projectImage">
      <img src={{imageUrl}} class="img-fluid" title={{imageTitle}} />
    </div>
    <div class="projectTitle">
      {{ title }}
    </div>
    <div class="projectDescription">
      {{! This variable needs triple brackets because it's actually html, not just a string}}
      {{{ description }}}
    </div class= "recOne">
      <img src={{imageTwo}} class="img-fluid"  />
      {{ textTwo }}

    </div>

  </div>
</div>

