@keyframes bgcolor {
    0% {
        background-color: #1FAC25
    }

    20% {
        background-color: #FFE416
    }

    40% {
        background-color: #FF6539
    }

    60% {
        background-color: #FF4C38
    }

    80% {
        background-color: #8758BE
    }

    100% {
        background-color: #5CAEEB
    }
}

body {
    -webkit-animation: bgcolor 25s infinite;
    animation: bgcolor 15s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    margin:0;
    padding: 0;
}


