@keyframes bgcolor {
    0% {
        background-color: #1FAC25
    }

    20% {
        background-color: #FFE416
    }

    40% {
        background-color: #FF6539
    }

    60% {
        background-color: #FF4C38
    }

    80% {
        background-color: #8758BE
    }

    100% {
        background-color: #5CAEEB
    }
}

body {
    -webkit-animation: bgcolor 35s infinite;
    animation: bgcolor 25s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    margin:0;
    padding: 0;
}

h1  {
font-family: stratos,sans-serif;
font-weight: 700;
font-style: normal;
font-size: 100px;
padding:30px 50px 20px 50px;


}

h4  {
font-family: stratos,sans-serif;
font-weight: 400;
font-style: normal;
font-size: 30px;

}


.question {
  padding: 10px 50px 20px 50px;

}

a{
   font-family: stratos,sans-serif;
font-weight: 400;
font-style: normal;

}

.navbar-light .navbar-toggler {
  color:#21252b;
}


.navbar {
  padding:20px;
}

#name {
    font-family: stratos,sans-serif;
font-weight: 700;
font-style: normal;
font-size: 100px;
}

h5  {
  text-align: center;
  padding-top: 20px;
}



@media (max-width: 700px) {
 h1 {
  font-size:50px;
  padding:20px 10px 20px 10px;

 }

 #name {
  font-size: 50px;
 }

 h4 {
  font-size:18px;
 }

 .question {
  padding: 10px 10px 15px 10px;
  }

  h5{
    font-size: 10px;
    padding-top: 10px;
  }

}


@media (max-width: 1200px) {
 h1 {
  font-size:65px;
  padding:30px 20px 20px 20px;

 }

 #name {
  font-size: 65px;
 }

 h4 {
  font-size:25px;
 }

 .question {
  padding: 10px 20px 20px 20px;
  }

  h5{
    font-size: 15px;
    padding-top: 20px;
  }

}




